body {
  background: linear-gradient(120deg,#141e30,#243b55);
  font-family: Arial;
}

.card {
  width: 350px;
  background: white;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 70px;
  display: block;
  margin: auto;
}

input, select, button {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
}

button {
  background: #141e30;
  color: white;
  border: none;
}
